/* Site-catalinaFuentes */
:root {
  /* Mode 1 */
  /* color */
  --bg-color: #ffffff;
  --card-bg: #edecec;
  --text-color: #000000;
}
       
body.dark { 
  --big-color: #000000;
  --card-bg: #484747;
  --texto-color: #ffffff;

}


body {
    background-color: var(--big-color);
    color: var(--texto-color);
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.contenedor {
    width: 1440px;
    margin: auto;
}

h1 {
    font-size: 140px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.card {
    width: 20%;
    margin: 2%;
    height: 300px;
    background-color: var(--card-bg);
    float: left;
}

@media (max-width:1024px){
body {
        background-color: rgb(192, 188, 255);
}
.contenedor{
    width: 100%;

}  
  h1{
    font-size: 70px;
  }
.card {
    width: 100%;
    margin: 20px 0 50px 0;
}

}

#toggle {
    background-color: #e10026;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 24px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;;
}
#toggle:hover{
    background-color: rgb(141, 0, 0);
    transform: scale(1.05);
}